<nav>
  <div class="nav">
    <div class="brand"><%= link_to "厲害的履歷", root_path %></div>
    <ul>
    <% if user_signed_in? %>
    <li><%= current_user.email %></li>
    <li class="signin"><%= link_to "我的履歷", my_resumes_path %></li>
    <li class="signin"><%= link_to "登出", sessions_path, method: "delete" %></li>
    <% else %>
        <li class="signup"><%= link_to "註冊", sign_up_users_path%></li>
        <li class="signin"><%= link_to "登入", sign_in_users_path %></li>
        <% end %>
    </ul>
  </div>
</nav>