  <li>
    <%= "v" if resume.pinned %>
    <%= link_to resume.title, user_resume_path(user_i: resume.user.username, id: resume.slug) %>
    |
    <%= link_to "預", pin_resume_path(resume), method: :patch %>
    |
    <%= link_to "X", resume_path(resume), method: :delete, data: {
        confirm: "確定要刪除嗎？"
    } %>
    <!-- <%= link_to resume.title, resume_path(resume) %>
    <%= link_to resume.title, resume %> -->
  </li>